<!-- mapping.component.html -->
<div class="mapping-container">
  <!-- Result Buttons -->
  <div class="result-buttons" *ngIf="columns.length > 3">
    <button
      *ngFor="let col of columns.slice(3); let i = index"
      (click)="onResultClick('Result ' + (i + 1))"
      [class.selected]="isResultActive('Result ' + (i + 1))">
      Result {{ i + 1 }}
    </button>
    <button
      (click)="onResultAllClick()"
      [class.selected]="isResultAllActive()">
      Result All
    </button>
  </div>

  <!-- Scrollable Table -->
  <div class="table-scroll-container">
    <table mat-table [dataSource]="filteredRows" class="mat-elevation-z2 mapping-table">

      <!-- Normal Columns -->
      <ng-container *ngFor="let colIndex of filteredColumnIndices" [matColumnDef]="colIndex.toString()">
        <th mat-header-cell *matHeaderCellDef class="header-cell">
          {{ columns[colIndex]?.value }}
        </th>
        <td mat-cell *matCellDef="let row; let rowIndex = index" class="data-cell">
          <div class="data-flex-wrapper">
            <span class="matrix-text" [innerHTML]="row[colIndex.toString()]?.value || ''"></span>
          </div>
        </td>
      </ng-container>

      <!-- Image Columns -->
      <ng-container *ngFor="let colIndex of dynamicColumnIndices; let i = index" [matColumnDef]="'img_' + colIndex">
        <th mat-header-cell *matHeaderCellDef class="header-cell">🖼️</th>
        <td mat-cell *matCellDef="let row; let rowIndex = index" class="data-cell image-cell">
          <ng-container *ngIf="getImageForExactCol(rowIndex, i) as imgObj">
            <div class="image-wrapper">
              <!-- <img [src]="'http://localhost:8000' + imgObj.url" -->
              <img [src]="'https://excel-viewer-frontend.onrender.com' + imgObj.url"
                   alt="cell image"
                   class="matrix-img" />
              <small>R{{ imgObj.row }} • C{{ imgObj.column }}</small>
            </div>
          </ng-container>
        </td>
      </ng-container>

      <!-- Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'highlighted-row': highlightRow(row) }"></tr>
    </table>
  </div>
</div>
