<!-- mapping.component.html -->
<div class="mapping-container">
  <!-- Result Buttons -->
  <div class="result-buttons" *ngIf="columns.length > 3">
    <button
      *ngFor="let col of columns.slice(3); let i = index"
      (click)="onResultClick('Result ' + (i + 1))"
      [class.selected]="isResultActive('Result ' + (i + 1))">
      Result {{ i + 1 }}
    </button>
    <button
      (click)="onResultAllClick()"
      [class.selected]="isResultAllActive()">
      Result All
    </button>
  </div>

  <!-- Scrollable Table -->
  <div class="table-scroll-container">
    <table mat-table [dataSource]="filteredRows" class="mat-elevation-z2 mapping-table">

      <!-- Normal Columns -->
      <ng-container *ngFor="let colIndex of filteredColumnIndices" [matColumnDef]="colIndex.toString()">
        <th mat-header-cell *matHeaderCellDef class="header-cell">
          {{ columns[colIndex]?.value }}
        </th>
<td mat-cell *matCellDef="let row; let rowIndex = index" class="data-cell">
  <div class="data-flex-wrapper">
    <ng-container *ngIf="isCellExpanded(rowIndex, colIndex); else shortText">
      <span class="matrix-text">{{ row[colIndex]?.value }}</span>
      <a href="#" (click)="collapseCell($event, rowIndex, colIndex)">less</a>
    </ng-container>
    <ng-template #shortText>
      <span class="matrix-text">{{ getShortText(row[colIndex]?.value) }}</span>
      <ng-container *ngIf="isTextLong(row[colIndex]?.value)">
        ... <a href="#" (click)="expandCell($event, rowIndex, colIndex)">more</a>
      </ng-container>
    </ng-template>
  </div>
</td>
      </ng-container>

      <!-- Image Columns -->
      <ng-container *ngFor="let colIndex of dynamicColumnIndices; let i = index" [matColumnDef]="'img_' + colIndex">
        <th mat-header-cell *matHeaderCellDef class="header-cell"></th>
        <td mat-cell *matCellDef="let row; let rowIndex = index" class="data-cell image-cell">
          <ng-container *ngIf="getImageForExactCol(rowIndex, i) as imgObj">
            <div class="image-wrapper">
              <!-- <img [src]="'http://localhost:8000' + imgObj.url" -->
               <img [src]="'https://excel-viewer-project-fullstack.onrender.com' + imgObj.url"
                   alt="cell image"
                   class="matrix-img"
                   width="600"
     height="600"
     style="object-fit: contain; border: 1px solid #ccc;"
                    />
              <!-- <small>R{{ imgObj.row }} • C{{ imgObj.column }}</small> -->
            </div>
          </ng-container>
        </td>
      </ng-container>

      <!-- Rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"
          [ngClass]="{ 'highlighted-row': highlightRow(row) }"></tr>
    </table>
  </div>
</div>
              <!-- <img [src]="'https://excel-viewer-project-fullstack.onrender.com' + imgObj.url" -->
