<div class="objective-methodology" *ngIf="sheet">
   
  <p>
    <strong>{{ getCell(3, 0) }}</strong>
  </p>
  <h2>{{getCell(4,0)}}</h2>

  <div class="methodology-box">
    <h4>{{ getCell(5, 0) }}</h4>

    <!-- Step 1 -->
    <div class="step">
      <h3 class="step-header">{{ getCell(6, 0) }}</h3>
      <div class="step-content">
        <h4>{{ getCell(7, 0) }}</h4>
        <p>{{ getCell(7, 1) }}</p>
      </div>

      <div class="step-content">
        <h4>{{ getCell(8, 0) }}</h4>
        <p>{{ getCell(8, 1) }}</p>
      </div>

      <div class="step-content">
        <h4>{{ getCell(9, 0) }}</h4>
        <p>{{ getCell(9, 1) }}</p>
      </div>
    </div>


    

  </div>
</div>
