<div style="padding: 10px; padding-left: 0px"></div>
<div>
  <br />
  <div style="display: flex; flex-direction: row-reverse; padding-bottom: 10px">
    <button mat-raised-button (click)="chooseFile()">Upload Report</button>
  </div>

<mat-card *ngFor="let file of excelData" class="hover-card" style="margin: 10px;">
  <div style="display: flex; align-items: center; justify-content: space-between;">
    <span style="font-weight: bold;">{{ file.file_name }}</span>
    <div>
      <button mat-icon-button color="accent" (click)="viewExcelFile(file)">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteSheet(file.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
</div>