<div class="table-wrapper" *ngIf="sheet">
  <h2 class="heading">{{ safeSheet.name }}</h2>

  <div class="table-scroll">
    <table class="biblio-table">
      <thead>
        <tr>
          <th *ngFor="let list of getHeaders(); let i = index" [ngClass]="getColumnClass(list)">
            {{ list }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of getDataRows(); let rowIndex = index">
          <td *ngFor="let cell of row; let i = index" [ngClass]="getColumnClass(getHeaders()[i])">
            <ng-container *ngIf="isCellExpanded(rowIndex, i); else shortText">
              <a *ngIf="cell?.hyperlink" [href]="cell.hyperlink" target="_blank">
                <span class="matrix-text">{{ getWordWrappedText(cell.value, 10) }}</span>
              </a>
              <span *ngIf="!cell?.hyperlink" class="matrix-text">
                {{ getWordWrappedText(cell.value, 10) }}
              </span>
              <a href="#" (click)="collapseCell($event, rowIndex, i)" class="matrix-link">less</a>
            </ng-container>
            <ng-template #shortText>
              <a *ngIf="cell?.hyperlink" [href]="cell.hyperlink" target="_blank">
                <span class="matrix-text">{{ getShortText(cell.value) }}</span>
              </a>
              <span *ngIf="!cell?.hyperlink" class="matrix-text">
                {{ getShortText(cell.value) }}
              </span>
              <ng-container *ngIf="isTextLong(cell.value)">
                ... <a href="#" (click)="expandCell($event, rowIndex, i)" class="matrix-link">more</a>
              </ng-container>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>